---

redirect_from:
  - /codechallenge/rawindex.html

navigation: true
layout: homepage
description: Notes from a frontend developer.
social_title: Peter Ramsing | Notes from a frontend developer.
social_description: A blog about web development and life. Mosts posts have an audio version attached so you can listen to posts.
keywords: Web, Developer, frontend, css, html, css3, html5, javascript, js, ember, sass, scss, postcss, lostgrid
social_image: /img/peter-ramsing-headshot.jpg
---

<ul class="post-list">
    {% for post in paginator.posts %}
      <li>
        <h2><a class="post-title" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a></h2>
        <h4>{{ post.description }}</h4>
        <p class="post-meta">{{ post.date | date: '%B %-d, %Y' }}</p>
        {% if post.audio %}
        <audio controls preload="metadata">
          <source src="../audio/{{ post.audio }}.mp3" type="audio/mpeg">
          Your browser does not support the audio element.
        </audio>
        {% endif %}
        <p>
          {{ post.excerpt }}
        </p>
        <a href="{{ post.url | prepend: site.baseurl }}">Read Post</a>
        <br/>
        <br/>
        <hr/>
      </li>
    {% endfor %}
</ul>
