.About--headshot {
  width: 100%;

  @include mobile-first-media-query($bp-small) {
    width: 200px;
  }
}

.about-content {
  h2 {
    margin-bottom: 10px;
  }

  hr {
    margin-bottom: 20px;
  }

  .contacticon {
    a {
      border-bottom: none;
    }
  }

}
